.mycontainer * {
  margin: 0;
  padding: 0;
}
.mycontainer {
  width: 680px;
  margin: 0 auto 50px auto;
}
@media screen and (max-width: 1120px) {
  .mycontainer {
    width: 840px;
  }
}
@media screen and (max-width: 840px) {
  .mycontainer {
    width: 560px;
  }
}
@media screen and (max-width: 560px) {
  .mycontainer {
    width: 280px;
  }
}
/*------LIST------*/
.mycontainer .u1 {
  list-style-type: none;
}
.mycontainer .l1 {
  float: left;
  position: relative;
  width: 180px;
  height: 220px;
  overflow: hidden;
  box-shadow: 0px -1px 2px #666;
  border-radius: 4px;
  padding: 10px;
  background-clip: padding-box;
  margin: 10px;
}
.mycontainer .l1:hover {
  cursor: pointer;
  box-shadow: 3px -3px 6px #504f4f;
  border-radius: 4px;
}
.mycontainer img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0;
  transition: all 1s ease;
}
.mycontainer ul .u2 {
  text-align: center;
  margin: 0 auto;
}
.mycontainer .l1:hover img {
  transform: rotate(30deg);
}
.mycontainer .l2 {
  list-style: none;
  margin: 0 auto;
  padding: 2px;
  display: inline-block;
}
.mycontainer .name {
  font-family: Georgia, serif;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
}
.mycontainer .l1:hover .name {
  color: #f7b119;
}
.mycontainer .info {
  font-size: 11px;
  display: inline-block;
  white-space: nowrap;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #cbcbcb;
}
.mycontainer .info:hover {
  display: block;
  width: 180px;
  overflow: auto;
  white-space: normal;
  z-index: 1;
}
